/Classes/Scripts/Snippets/UserFiles/*.scd
!/Classes/Scripts/Snippets/UserFiles/UserFilesREADME.scd
/Classes/Scripts/Snippets/UserIncludes/*.scd
!/Classes/Scripts/Snippets/UserIncludes/UserIncludesREADME.scd

